@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-orange: #ff7004;
  --primary-bg: #2f333a;
  --primary-text-clr: #474747;
  --bg-shadow: rgb(0, 0, 0, 0.5);
  --border-clr: #ebebeb;
  --border: #43474e;
  --product-text-clr: #212121;
  --view-cart-bg: #f4f5f8;
  --register-shadow: rgba(0, 0, 0, 0.06) 0px 0px 12px 3px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

.container {
  width: 80%;
  margin-inline: auto;
  padding-inline: 15px;
}

.top-dropdown {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 25.5px 4.5px;
  min-width: 130px;
  font-size: 13px;
  animation: dropdown .6s ease;
}
.user-dropdown {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 25.5px 4.5px;
  min-width: 130px;
  font-size: 13px;
  animation: dropdown .6s ease;
}
@keyframes dropdown {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.modal-search-input:focus {
  border: 1px solid #ff7004;
  border-right: 0;
  transition: all 250ms ease-in-out;
}
.footer-input:focus {
  border-right: 1px;
  border: 1px solid #ff7004;

}
.dropdown-li {
  position: relative;
  margin-left: 40px;

  > a {
    color: white;
    transition: 250ms ease;
    font-weight: 500;
    line-height: 60px;
    font-size: 14px;

    > svg {
      margin-left: 6px;
      font-size: 10px;
    }
  }

  > ul {
    background-color: white;
    position: absolute;
    z-index: 2;
    text-align: left;
    min-width: 205px;
    left: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3.76px 0.24px;
    transform-style: preserve-3d;
    transform: rotateX(-75deg);
    transform-origin: 0px 0px;
    transition:  transform .4s , opacity .3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    > li {
      padding: 10px 0px 10px 20px;
      > a {
        transition: 200ms ease;
        font-size: 14px;
      }

      &:hover {
        > a {
          color: var(--primary-orange);
        }
      }
    }

    > li:not(:last-of-type) {
      border-bottom: 1px solid var(--border-clr);
    }

  }

  &:hover {
    > a {
      color: var(--primary-orange);
    }
    > ul {
      opacity: 1;
      visibility: visible;
      transform: rotateX(0deg);
      pointer-events: fill;
    }
  }
}

.MuiTabs-flexContainer {
  justify-content: center;
  
}
.MuiButtonBase-root {
  color: var(--primary-orange) !important;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize; 
}
.MuiTabs-indicator {
  background-color: var(--primary-orange) !important;
}
.MuiBox-root {
  padding: 0;
}

#email:focus, #password:focus, #first-name:focus ,#last-name:focus, #phone:focus {
  border-color: var(--primary-orange);
}

.create , .forget {
  padding-inline: 15px;
}




