@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-orange: #ff7004;
  --primary-bg: #2f333a;
  --primary-text-clr: #474747;
  --bg-shadow: rgb(0, 0, 0, 0.5);
  --border-clr: #ebebeb;
  --border: #43474e;
  --product-text-clr: #212121;
  --view-cart-bg: #f4f5f8;
  --contact-bg: #f5f5f5;
  --register-shadow: rgba(0, 0, 0, 0.06) 0px 0px 12px 3px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

.container {
  width: 80%;
  margin-inline: auto;
  padding-inline: 15px;
}

.section-container {
  .wrapper {
    margin-inline: -15px;
    /* flex-wrap: wrap; */

    .wrapper-in {
      padding-inline: 15px;
      /* width: 100%; */
    }
  }
}

.top-dropdown {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 25.5px 4.5px;
  min-width: 130px;
  font-size: 13px;
  animation: dropdown .6s ease;
}
.user-dropdown {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 25.5px 4.5px;
  min-width: 130px;
  font-size: 13px;
  animation: dropdown .6s ease;
}
@keyframes dropdown {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.modal-search-input:focus {
  border: 1px solid #ff7004;
  border-right: 0;
  transition: all 250ms ease-in-out;
}
.footer-input:focus {
  border-right: 1px;
  border: 1px solid #ff7004;

}
.dropdown-li {
  position: relative;
  margin-left: 40px;

  > a {
    color: white;
    transition: 250ms ease;
    font-weight: 500;
    line-height: 60px;
    font-size: 14px;

    > svg {
      margin-left: 6px;
      font-size: 10px;
    }
  }

  > ul {
    background-color: white;
    position: absolute;
    z-index: 2;
    text-align: left;
    min-width: 205px;
    left: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3.76px 0.24px;
    transform-style: preserve-3d;
    transform: rotateX(-75deg);
    transform-origin: 0px 0px;
    transition:  transform .4s , opacity .3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    > li {
      padding: 10px 0px 10px 20px;
      > a {
        transition: 200ms ease;
        font-size: 14px;
      }

      &:hover {
        > a {
          color: var(--primary-orange);
        }
      }
    }

    > li:not(:last-of-type) {
      border-bottom: 1px solid var(--border-clr);
    }

  }

  &:hover {
    > a {
      color: var(--primary-orange);
    }
    > ul {
      opacity: 1;
      visibility: visible;
      transform: rotateX(0deg);
      pointer-events: fill;
    }
  }
}

.MuiTabs-flexContainer {
  justify-content: center;
  
}
.MuiButtonBase-root {
  color: var(--primary-orange) !important;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize; 
}
.MuiTabs-indicator {
  background-color: var(--primary-orange) !important;
}
.MuiBox-root {
  padding: 0;
}

#email:focus, #password:focus, #first-name:focus ,#last-name:focus, #phone:focus {
  border-color: var(--primary-orange);
}

.create , .forget {
  padding-inline: 15px;
}


.cartButton {
  z-index: 10;
  top: calc(30% + 110px);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 16px -1px;
  background-color: var(--primary-bg);
  font-weight: 600;
  cursor: pointer;
  transition: 400ms;
}

.ct {
  flex: 0 0 40%;
  width: 100%;
}
.gt {
  width: 100%;
  flex: 0 0 60%;
}
.contact-wrapper {
  margin-inline: calc(-15px);
  /* column-gap: 15px; */
}

#firstname, #lastname, #subject, #message {
  width: 100%;
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid var( --border-clr);
  outline: none;
  transition: .4s ease;

  &:focus {
    border-color: var(--primary-orange);
  }
}
#message {
  min-height: 80px;
}

.btn-single-product > div:not(:last-child) {
  margin-bottom: 10px;
}

figure:hover {
  > .cart-icons > .btn-single-product {
    > .action-icon{
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
  button {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  } 
    
}

.action-icon {
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  }


.btn-action {
  width: 40px;
  height: 40px;
  transition: .4s;
  color: var(--product-text-clr);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-orange);
    color: white;

    & + .action {
      opacity: 1;
    }
  }
}
.action {
  padding: 2px 5px;
  right: 40px;
  font-size: 12px;
  opacity: 0;
  transition: .4s;
  width: max-content;
  background-color: black;
  color: white;
  display: inline-flex;
  border-radius: 4px;
  z-index: 9;
  margin-right: 8px;

  &::before {
    content: '';
    z-index: -1;
    background: black;
    width: 10px;
    height: 10px;
    position: inherit;
    right: -2px;
    top: 6px;
    rotate: 45deg;
  }
}

.addToCartBtn {
  width: 80%;
  z-index: 11;
  text-align: center;
  margin: 10px auto 0px;
  transition: .4s;
  border-radius: 4px;
  font-weight: 600;
  left: 0;
  right: 0;
  bottom: 80px;
  height: 35px;
  opacity: 0;
  display: block;
  line-height: 35px;
  position: absolute;
  visibility: hidden;
  transform: translateY(20px);
  color: var(--primary-bg);
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--primary-orange);
  }
}